.timer-body{
    @apply flex flex-col justify-center items-center gap-3 cursor-default;
    height: 252px;
}
.timer-body .timer-counter{
    @apply flex flex-row-reverse gap-3;
}
.timer-body .timer-counter .div{
    @apply flex flex-col items-center;
}
.timer-counter .div .div-2{
    @apply block p-3  relative;
}
.div-2 span{
    @apply absolute -top-1 left-0 text-2xl font-bold cursor-pointer
    hover:opacity-100 opacity-50;
}
.timer-body .counter{
    @apply font-mono text-6xl;
}
.timer-body .btn-timer{
    @apply  py-1 w-10 rounded-sm text-xl border border-transparent;
}
.btn-timer:hover{
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
